.cards-wrapper{
   display: flex;
   padding:0 9rem;
   justify-content: center;
   
}
.card{
   margin:0 1rem;
   width:calc(100%/3);
   height:500px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 1rem;
}
.carousel-inner {
  padding: 1em;
}

.image-wrapper{
width: 100%;
height: 90vw;
overflow: hidden;
}
.image-wrapper img{
  max-width: 100%;
   border-radius: 1rem;
   height: max-content;
    object-fit:cover;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #151515;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#hero-banner{
   height: 100vh;

}

 .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #f8f9fa;
      text-align: center;
      z-index: 1000; 
    }

     .line {
      border-top: 1px solid #ccc; /* Change the color and style of the line as needed */
      width: 50%; /* Adjust the width of the line */
      margin: 20px auto; /* Center the line horizontally and add spacing */
    }